<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software_system_development.arona_mysterious_shop_backend.mapper.CartItemMapper">

    <resultMap id="BaseResultMap" type="com.software_system_development.arona_mysterious_shop_backend.model.entity.CartItem">
            <id property="cartItemId" column="cartItemId" jdbcType="INTEGER"/>
            <result property="cartId" column="cartId" jdbcType="INTEGER"/>
            <result property="productId" column="productId" jdbcType="INTEGER"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="creatTime" column="creatTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        cartItemId,cartId,productId,
        quantity,price,creatTime,
        updateTime
    </sql>
</mapper>
