<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software_system_development.arona_mysterious_shop_backend.mapper.OrderitemMapper">

    <resultMap id="BaseResultMap" type="com.software_system_development.arona_mysterious_shop_backend.model.entity.Orderitem">
            <id property="orderitemid" column="orderItemId" jdbcType="INTEGER"/>
            <result property="orderitemnumber" column="orderItemNumber" jdbcType="SMALLINT"/>
            <result property="orderitemprice" column="orderItemPrice" jdbcType="DECIMAL"/>
            <result property="orderitemproductid" column="orderItemProductId" jdbcType="INTEGER"/>
            <result property="orderitemorderid" column="orderItemOrderId" jdbcType="INTEGER"/>
            <result property="orderitemuserid" column="orderItemUserId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        orderItemId,orderItemNumber,orderItemPrice,
        orderItemProductId,orderItemOrderId,orderItemUserId
    </sql>
</mapper>
