<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.arona_mysterious_shop.mapper.OrdersGoodsMapper">

    <resultMap id="BaseResultMap" type="com.software.arona_mysterious_shop.model.entity.OrdersGoods">
            <id property="orderId" column="orderId" jdbcType="BIGINT"/>
            <id property="goodsId" column="goodsId" jdbcType="BIGINT"/>
            <result property="goodsName" column="goodsName" jdbcType="VARCHAR"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        orderId,goodsId,goodsName,
        quantity,price
    </sql>
</mapper>
