<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software_system_development.arona_mysterious_shop_backend.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.software_system_development.arona_mysterious_shop_backend.model.entity.Order">
            <id property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="orderCode" column="order_code" jdbcType="VARCHAR"/>
            <result property="orderAddress" column="order_address" jdbcType="INTEGER"/>
            <result property="orderReceiver" column="order_receiver" jdbcType="VARCHAR"/>
            <result property="orderMobile" column="order_mobile" jdbcType="VARCHAR"/>
            <result property="orderPayDate" column="order_pay_date" jdbcType="TIMESTAMP"/>
            <result property="orderDeliveryDate" column="order_delivery_date" jdbcType="TIMESTAMP"/>
            <result property="orderConfirmDate" column="order_confirm_date" jdbcType="TIMESTAMP"/>
            <result property="orderStatus" column="order_status" jdbcType="TINYINT"/>
            <result property="orderUserId" column="order_user_id" jdbcType="INTEGER"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="orderCartId" column="order_cart_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,order_code,order_address,
        order_receiver,order_mobile,order_pay_date,
        order_delivery_date,order_confirm_date,order_status,
        order_user_id,is_delete,order_cart_id
    </sql>
</mapper>
