<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software_system_development.arona_mysterious_shop_backend.mapper.ProductImageMapper">

    <resultMap id="BaseResultMap" type="com.software_system_development.arona_mysterious_shop_backend.model.entity.ProductImage">
            <id property="productImageId" column="product_image_id" jdbcType="INTEGER"/>
            <result property="productImageSrc" column="product_image_src" jdbcType="VARCHAR"/>
            <result property="productImageProductId" column="product_image_product_id" jdbcType="INTEGER"/>
            <result property="productImageStore" column="product_image_store" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        product_image_id,product_image_src,product_image_product_id,
        product_image_store
    </sql>
</mapper>
