<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software_system_development.arona_mysterious_shop_backend.mapper.ReviewMapper">

    <resultMap id="BaseResultMap" type="com.software_system_development.arona_mysterious_shop_backend.model.entity.Review">
            <id property="reviewId" column="reviewId" jdbcType="INTEGER"/>
            <result property="reviewContent" column="reviewContent" jdbcType="VARCHAR"/>
            <result property="reviewCreateDate" column="reviewCreateDate" jdbcType="TIMESTAMP"/>
            <result property="reviewUserId" column="reviewUserId" jdbcType="BIGINT"/>
            <result property="reviewProductId" column="reviewProductId" jdbcType="INTEGER"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        reviewId,reviewContent,reviewCreateDate,
        reviewUserId,reviewProductId,isDelete
    </sql>
</mapper>
